<h1>All Posts</h1>
<%= Post.count %>

<ul>
    <% @posts.each do |posts| %>
        <li><%= posts.title %> </li>
    <% end %>
</ul>

<a href="#">Write Posts</a>

<% link_to "Write Post", new_post_path %>